//++++++++++++++++++++++++
//+++ SETTINGS: LAYOUT +++
//++++++++++++++++++++++++


$border-radius: 4px;
$content-gutter: (1024px - 936px) / 2;
$footer-height: 36px;
$footer-height-smalldevice: 48px;
$footer-height-largedevice: $footer-height;
$gutter: 24px;
