/*
+++++++++++++++++++++++++
+++ SETTINGS: PALETTE +++
+++++++++++++++++++++++++
*/


$cream: #d4d4c6;
$yellow: #F5E081;

$grey0: #050708;
$grey1: #151718;
$grey2: #252728;
$grey3: #353738;
$grey4: #454748;
$grey5: #555758;
$grey6: #656768;
$grey8: #858788;
$greyA: #A5A7A8;
$greyC: #C5C7C8;
$greyD: #D5D7D8;
$greyE: #E5E7E8;
$greyF: #F5F7F8;
$white: #FFFFFF;

$black: $grey3;
$primary: $black;

$background: $white;
$selection: $yellow;
