/* 
+++++++++++++++++++++++++ 
+++ SETTINGS: PALETTE +++ 
+++++++++++++++++++++++++ 
*/


$lilac: #9982CA; // Brand
$pink: #FEDDEA; // Brand
$purple: #343368; // Brand

// Feel free to customize these but green, red and yellow are needed for modules.
// Green and red for warnings and yellow for status messages
$green: #39A952; //#70A400
$red: #E34424;
$yellow: #F5E081;

$rainbow-blue: #6DB593;
$rainbow-green: #C8D319;
$rainbow-magenta: #FF0D51;
$rainbow-orange: #FF8830;
$rainbow-red: #FF6F64;
$rainbow-yellow: #EDC951;

$grey0: #050708;
$grey1: #151718;
$grey2: #252728;
$grey3: #353738;
$grey4: #454748;
$grey5: #555758;
$grey6: #656768;
$grey8: #858788;
$greyA: #A5A7A8;
$greyC: #C5C7C8;
$greyD: #D5D7D8;
$greyE: #E5E7E8;
$greyF: #F5F7F8;
$white: #FFFFFF;

$primary: $purple;
$secondary: $lilac;
$tertiary: $pink;
$black: $grey3;

$cream: #F8F4E8;
$glow: #FFFAC6;

$facebook: #3B5998;
$flickr: #ff0084;
$googleplus: #D34836;
$linkedin: #4875B4;
$pinterest: #C92228;
$tumblr: #35465C;
$twitter: #59CCFF;
$vimeo: #1AB7EA;
$youtube: #EF3B39;
