/*
+++++++++++++++++++++++++
+++ SETTINGS: PALETTE +++
+++++++++++++++++++++++++
*/


$cream: #d4d4c6;
$yellow: #f5e081;

$grey0: #050708;
$grey1: #151718;
$grey2: #252728;
$grey3: #353738;
$grey4: #454748;
$grey5: #555758;
$grey6: #656768;
$grey8: #858788;
$greyA: #a5a7a8;
$greyC: #c5c7c8;
$greyD: #d5d7d8;
$greyE: #e5e7e8;
$greyF: #f5f7f8;
$white: #ffffff;

$black: $grey3;
$primary: $black;

$background: $white;
$selection: $yellow;
