/*
+++++++++++++++++++++++++
+++ SETTINGS: PALETTE +++
+++++++++++++++++++++++++
*/


$lilac: #9982CA; // Brand
$pink: #FEDDEA; // Brand
$purple: #343368; // Brand

// Feel free to customize these but green, red and yellow are needed for modules.
// Green and red for warnings and yellow for status messages
$green: #39A952; //#70A400
$red: #E34424;
$yellow: #F5E081;

$grey0: #050708;
$grey1: #151718;
$grey2: #252728;
$grey3: #353738;
$grey4: #454748;
$grey5: #555758;
$grey6: #656768;
$grey8: #858788;
$greyA: #A5A7A8;
$greyC: #C5C7C8;
$greyD: #D5D7D8;
$greyE: #E5E7E8;
$greyF: #F5F7F8;
$white: #FFFFFF;

$black: $grey3;
$primary: $black;
$secondary: $lilac;
$tertiary: $pink;

$background: $black;
$selection: $yellow;
