/*  
+++++++++++++++++++++++++ 
+++ SETTINGS: SPRITES +++ 
+++++++++++++++++++++++++ 
*/


$sprite-master: url('../images/sprite-master.png');
$sprite-master2x: url('../images/sprite-master@2x.png');
$sprite-master-vector: url('../images/sprite-master.svg');
