/*
++++++++++++++++++++++++++++
+++ SETTINGS: TYPOGRAPHY +++
++++++++++++++++++++++++++++
*/


$base-em: 16; // px
$base-unit: 13; // px
$base-size: $base-unit / $base-em;

$font-body: 'Fira Mono', sans-serif;
$font-header: 'Fira Sans', sans-serif;
