/*
++++++++++++++++++++++++++
+++ HELPERS: ANIMATION +++
++++++++++++++++++++++++++
*/


//=======================================
// Animation
//=======================================

// Can't find a way to escape the @ character with @each so doing the dirty way instead
@mixin animation-keyframes($name) {
    @keyframes #{$name} { @content };
}

@mixin animation-properties($name, $duration, $count, $timing, $delay: 0, $fill_mode: both, $direction: normal) {
    @each $prefix in animation {
        #{$prefix}-fill-mode: $fill_mode;
        #{$prefix}-name: $name;
        #{$prefix}-delay: $delay;
        #{$prefix}-duration: $duration;
        #{$prefix}-iteration-count: $count;
        #{$prefix}-timing-function: $timing;
        #{$prefix}-direction: $direction;
    }
}

//=======================================
// Movement
//=======================================

@mixin transition($properties, $duration, $transition) {
    @each $prefix in transition {
        #{$prefix}-property: $properties;
        #{$prefix}-duration: $duration;
        #{$prefix}-timing-function: $transition;
    }
}

%transition {
    transition-property: background-color, box-shadow, border-color, color, opacity, text-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
