/*  
+++++++++++++++++++++++
+++ HELPERS: CENTER +++ 
+++++++++++++++++++++++
*/


/*
 * Code modified from https://github.com/Team-Sass/toolkit
 */

//=======================================
// Vertical center
//=======================================

// Vertically center anything, literally anything.
// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
@mixin vertical-center($midpoint: null, $extend: null) {
    $midpoint: if($midpoint != null, $midpoint, toolkit-get('vertical midpoint'));
    $extend: if($extend != null, $extend, toolkit-get('vertical extend'));

    top: $midpoint;
    @include vertical-center-core($extend);
}

@mixin vertical-center-core($extend: null) {
    $extend: if($extend != null, $extend, toolkit-get('vertical extend'));
    @if $extend {
        @include dynamic-extend('vertical center') {
            @include vertical-center-core($extend: false);
        }
    }
    @else {
        position: relative;
        @include transform(translateY(-50%));
    }
}


//=======================================
// Horizontal center
//=======================================

@mixin horizontal-center($midpoint: null, $fixed: null, $extend: null) {
    $fixed: if($fixed != null, $fixed, toolkit-get('horizontal fixed'));
    $extend: if($extend != null, $extend, toolkit-get('horizontal extend'));

    @if $fixed {
        $midpoint: if($midpoint != null, $midpoint, toolkit-get('horizontal fixed midpoint'));
    }
    @else {
        $midpoint: if($midpoint != null, $midpoint, toolkit-get('horizontal midpoint'));
    }

    @if $midpoint != 0% {
        left: $midpoint;
    }

    @include horizontal-center-core($fixed, $extend);
}

@mixin horizontal-center-core($fixed: null, $extend: null) {
    $fixed: if($fixed != null, $fixed, toolkit-get('horizontal fixed'));
    $extend: if($extend != null, $extend, toolkit-get('horizontal extend'));

    @if $extend {
        @if $fixed {
            @include dynamic-extend('horizontal center fixed') {
                @include horizontal-center-core(true, false);
            }
        }
        @else {
            @include dynamic-extend('horizontal center') {
                @include horizontal-center-core(false, false);
            }
        }
    }
    @else {
        @if $fixed {
            position: fixed;
            @include transform(translateX(-50%));
        }
        @else {
            position: relative;
            margin: 0 auto;
        }
    }
}
