/*
+++++++++++++++++++++++++++
+++ HELPERS: TYPOGRAPHY +++
+++++++++++++++++++++++++++
*/


//=======================================
// Sizing
//=======================================

@function font-size($size) {
    @return ($size / $base_unit) + em;
}


//=======================================
// Placeholder
//=======================================

@mixin placeholder {
    :-ms-input-placeholder { @content };
    :-moz-input-placeholder { @content };
    ::-moz-input-placeholder { @content };
    ::-webkit-input-placeholder { @content };
}


//=======================================
// Antialiase
//=======================================

@mixin antialiase($type: true) {
    @if $type == true {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}


//=======================================
// Defaults
//=======================================

%font-body {
    font-family: $font-body;
}

%font-header {
    font-family: $font-header;
}


//=======================================
// Settings
//=======================================

%heading-settings {
    @extend %font-header;
    line-height: 1.2;
}

%h1 {
    @extend %heading-settings;
    font-size: font-size(18);
}

%p {
    font-size: font-size(13);
}
