/*
++++++++++++++++++++
+++ LAYOUT: BASE +++
++++++++++++++++++++
*/


:root, body {
    height: 100%;
}

body {
    @include antialiase();
    font-size: $base-size + em;
    -webkit-font-feature-settings: 'liga', 'kern', 'calt' 0;
    font-feature-settings: 'liga', 'kern', 'calt' 0;
    -webkit-text-size-adjust: 100%; /* Stop resizing text on landscape. */
}

.wrapper {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @include transition(background-color, 0.2s, ease);
    min-height: 100%;
    position: relative;

    @include mq($min: $break-height-min, $direction: min-height) {
        @include flex-direction(row);
    }
}

h1 {
    @extend %h1;
}

// Also, textsize for li and table elements in .primary
p {
    @extend %p;
}

a {
    color: $black;
}
