/*
++++++++++++++++++++
+++ LAYOUT: BASE +++
++++++++++++++++++++
*/


:root, body {
    height: 100%;
}

body {
    @include antialiase();
    font-size: $base-size + em;
    font-feature-settings: 'liga', 'kern', 'calt' 0;
    -webkit-text-size-adjust: 100%; /* Stop resizing text on landscape. */
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
    min-height: 100%;
    position: relative;

    @include mq($min: $break-height-min, $direction: min-height) {
        flex-direction: row;
    }
}

h1 {
    @extend %h1;
}

// Also, textsize for li and table elements in .primary
p {
    @extend %p;
}

a {
    color: $black;
}
