/*  
++++++++++++++++++++++++++
+++ LAYOUT: CONVERSION +++ 
++++++++++++++++++++++++++
*/


/*body*/#home {
    .content {
        padding-top: $gutter * 4;

        @include mq($min: $break-devicemid) {
            padding-top: $gutter * 5; 
        }

         @include mq($min: $break-tablet) {
            padding-top: $gutter * 6; 
        }

        @if $use_mq {
            @include mq($min: $break-large) {
                padding-top: $gutter * 8; 
            }
        }
    }
}

.conversion {
    @include box-sizing;
    background-color: $white;
    box-shadow: 2px 2px 8px rgba($primary, .5);

    @include mq($min: $break-devicemid) {
        margin-left: auto;
        margin-right: auto;
        width: 272px;
    }

    &-window {
        background-color: $secondary;
        height: 144px;
        position: relative;

        @include mq($min: $break-devicemid) {
            height: 228px;
        }

        @include mq($min: $break-tablet) {
            height: 272px;
        }
    }

    &-values {
        border-top: 1px solid shade($white, 2%);
        padding-bottom: $gutter / 2;
        padding-left: $gutter / 4;
        padding-right: $gutter / 4;
        padding-top: $gutter / 4;
    }

    &-label {
        display: none;
    }

    &-input {
        @extend %font-header;
        @extend %transition;
        @include box-sizing;
        border-bottom: 2px solid $greyE;
        border-left: none;
        border-right: none;
        border-top: none;
        font-size: font-size(14);
        height: 44px;
        margin-top: $gutter / 4;
        text-transform: lowercase;
        width: 100%;

        &:focus {
            border-bottom-color: shade($greyE, 16%);
            outline: none;
        }

        @include mq($min: $break-tablet) {
            height: 36px;
            padding-left: $gutter / 3;
            padding-right: $gutter / 3;
        }

        &.first {
            margin-top: 0;
        }
    }
}
