/*
++++++++++++++++++++++++++
+++ LAYOUT: CONVERSION +++
++++++++++++++++++++++++++
*/


.conversion {
    align-self: flex-end;
    background-color: $black;
    height: 122px;

    @include mq($min: $break-height-min, $direction: min-height) {
        align-self: auto;
    }

    @include mq($min: $break-devicemid) {
        width: 216px;
    }

    &-block {
        border-top: 2px solid tint($black, 12%);
        padding-bottom: $gutter / 3;
        padding-left: $gutter / 2;
        padding-right: $gutter / 2;
        padding-top: $gutter / 3;

        &.first {
            border-top: none;
        }
    }

    &-label {
        display: none;
    }

    &-input {
        @extend %transition;
        border: none;
        border-radius: 0; /* Override iOS Safari's rounded corners */
        color: $white;
        font-size: font-size(16);
        height: 44px;
        text-transform: lowercase;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}
