/*  
++++++++++++++++++++ 
+++ LAYOUT: CORE +++ 
++++++++++++++++++++
*/

// This is the highlight colour used with the cursor
@include selection($background: $yellow, $color: $black);

html, body {
    height: 100%;
}

body, .wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    
    // Media queries get turned off for ie7 and 8
    @include ie-lte(8) {
        min-width: 1024px;
    }
}

.wrapper {
    //@include linear-gradient($direction-old: left top, $direction-new: to right top, $colors: ($primary, $lilac));
    background-color: $primary; 
    min-height: 100%;
    overflow: hidden; // For .content:after white bg
    position: relative;
}

body, a {
    color: $black;
}

body, button, input, select, textarea {
    font-family: $font-body;
}

body {
    font-size: $base-size + em;
    line-height: 1.3;
}

h1 {
    @extend %h1;
}

h2 {
    @extend %h2;
} 

h3 {
    @extend %h3;
} 

h4 {
    @extend %h4;
}

h5 {
    @extend %h5;
}

h6 {
    @extend %h6;
}

// Also, textsize for li and table elements in .primary
p, .textsize {
    @extend %p;
}

a {
    text-decoration: none;
}

strong, b, th {
    @extend %fontweight-heavy;
}

// IE 6-8 needs this because of font-rendering bug with bullets
@include ie-lte(8) {
    input[type='password'] {
        font-family: sans-serif;
    }
}
