/*  
+++++++++++++++++++++ 
+++ LAYOUT: ERROR +++ 
+++++++++++++++++++++
*/

@include animation-keyframes(rainbow) {
    0% {
        background-color: $rainbow-red;
    }
    
    20% {
        background-color: $rainbow-green;
    }
    
    40% {
        background-color: $rainbow-magenta;
    }
    
    60% {
        background-color: $rainbow-orange;
    }
    
    80% {
        background-color: $rainbow-blue;
    }
    
    100% {
        background-color: $rainbow-yellow;
    }
}

/*body*/#notfound {
    .wrapper {
        @extend %transition;
        @include animation-properties(rainbow, 2s, infinite, linear, 0, both, alternate);
        background-color: $rainbow-red;
        background-image: url('../images/banana.gif');
        background-position: $gutter $gutter;
        background-repeat: repeat;
        
        @include mq($break-tablet) {
            background-position: 20px 20px;
        }
        
        @include mq($break-medium) {
            background-image: url('../images/banana@2x.gif');
            background-position: ($gutter * 2) ($gutter * 2);
        }
    }

    .content, .content-align {
        // So .content-align can see fullscreen
        position: static;
    }

    .fnav-credits, .fnav-credits a {
        color: $white;
    }
}

.error {
    @include transform(translateY(-50%));
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform-style: preserve-3d;

    &-title {
        font-size: font-size(24);
        line-height: 1.1;
        text-align: center;
        text-transform: uppercase;
            
        @include mq($break-phone) {
            font-size: font-size(48);
        }
        
        @include mq($break-devicemid) {
            font-size: font-size(60);
        }

        @include mq($break-deviceupper) {
            font-size: font-size(96);
        }
        
        @include mq($break-tablet) {
            font-size: font-size(120);
        }
        
        @include mq($break-medium) {
            font-size: font-size(168);
        }
        
        @if $use-mq {
            @include mq($break-intermediate) {
                font-size: font-size(180);
            }
            
            @include mq($break-large) {
                font-size: font-size(228);
            }
        }
    }
}
