/*  
+++++++++++++++++++++ 
+++ LAYOUT: FORMS +++ 
+++++++++++++++++++++
*/


.form-description {
    @extend %form-description;
}

.form-item-label {
    @extend %form-item-label;
}

.form-item {
    @extend %form-item;
}

.form-item-input {
    @extend %form-item-input;
}

//@include vector-bg('.form-item-input.with-disabled', 'picto-input-disabled');

// This is for file picker and select inputs
.form-item-selection {
    @extend %form-item-selection;
}

// form-item-option is for checkbox and radio inputs
.form-item-label + .form-item-option {
    @extend %form-item-option;
}

.form-item-submit {
    @extend %form-item-submit;
}

.form-item-error-message {
    @extend %form-item-error-message;
}

.form-item-preinput {
    @extend %form-item-preinput;
}

.form-alert-message {
    @extend %form-alert-message;
}

.required {
    @extend %required;
}

.required-message {
    @extend %required-message;
}

.status-message {
    background-color: $yellow;
    border-bottom: 1px solid darken($yellow, 4%);
    border-radius: $border-radius;
    font-size: font-size(15);
    margin-bottom: $gutter;
    margin-top: $gutter;
    padding: $gutter / 1.5;
    position: relative;
}
