/*
++++++++++++++++++++++
+++ LAYOUT: HEADER +++
++++++++++++++++++++++
*/


.header {
    left: 0;
    position: absolute;
    text-align: center;
    top: $gutter;
    width: 100%;
}

.logo-base {
    font-size: font-size(18);
    text-transform: uppercase;
}

.strapline {
    color: $grey8;
    font-size: font-size(13);
}
