<!doctype html>
<html lang="en">

<head>
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tuupl: Color space converter</title>
    <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon" />
    
    <meta name="description" content="Color space converter for Hex and RGB." />
    <meta property="og:site_name" content="Tuupl">
    <meta property="og:description" content="Color space converter for Hex and RGB." />
    <meta property="og:title" content="Tuupl" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tuupl.com" />
    <meta property="og:image" content="http://tuupl.com/assets/images/og-img.png" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@dezpaco">
    <meta name="twitter:title" content="Tuupl">
    <meta name="twitter:description" content="Color space converter for Hex and RGB.">
    <meta name="twitter:image" content="http://tuupl.com/assets/images/og-img.png">
    
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600" rel="stylesheet">
    <link href="/assets/css/core.css" media="screen" rel="stylesheet"/>
    <link href="/assets/css/print.css" media="print" rel="stylesheet"/>
    {#
     # These assets are for when you need something for a specific page
     # but don't want every other page to load it.
     #}
    {% block assets_head_page %}{% endblock %}

    <link href="/assets/images/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/assets/images/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="/assets/images/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="/assets/images/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
{% endblock head %}
</head>

<body{% if bodyId %} id="{{ bodyId }}"{% endif %}{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
  
    <div class="wrapper">

        {% block header %}
        <header class="header" role="banner">

            {% block logo %}
            <a href="/" class="logo-base">Tuupl</a>
            {% endblock %}
            <p class="strapline">Color space converter</p>
                                                                                                                                                    
        </header> <!-- End .header -->
        {% endblock header %}
        
        <div class="content">
            <main class="content-align" role="main">
            {% block content %}
                
                {% block primary %}
                <div class="primary">
                
                    Shall we play a game?
                
                </div> <!-- End .primary -->
                {% endblock primary %}
            
            {% endblock content %}
            </main> <!-- End .content-align -->
        </div> <!-- End .content -->
        
    </div> <!-- End .wrapper -->
    
    {% block footer %}  
    <footer class="footer" role="contentinfo">
     
        <p class="fnav-credits">Made by <a href="http://derryhoyland.com" rel="external">Derry Lozano-Hoyland</a></p>

    </footer> <!-- End .footer -->
    {% endblock footer %}
    
    {#
     # Site scripts are for sitewide assets, use scripts-page if only
     # loading in individual page or module.
     #}
    {% block scripts_site %}{% endblock %}

    {#
     # These scripts are for when you need something for a specific page
     # but don't want every other page to load it.
     #}
    {% block scripts_page %}{% endblock %}

    {#
     # This file is ignored in the repo.
     #}
    {% include 'helpers/analytics.js.twig' %}
</body>
</html>
